.App {
  text-align: center;
  background-color: rgb(80, 79, 79);
}

.centrar{
  margin:auto;
  width: 40%;
}

.LinkNavVar{
  text-decoration: none;
  font-size: 30px;
}

.LinkVar{
  color: white;
  margin: 0 50px 0 50px;
}
.grupo-envio-domicilio-activo{
  display: inline;
}
.grupo-envio-domicilio-activo{
  display: none;
}
.ItemFlex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
  border: solid 1px rgb(133, 47, 47);
  padding: 10px;
  border-radius: 25px 0 25px 0;
  background-color: rgb(226, 220, 220);
}
.ItemFlexTag{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
  background-color: #fff;
  padding: 0;
  
}
.Itemname{
  font-size: 18px;
  width: 300px;
}
.productosFlex{
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  padding: 30px;
}
.ItemTagname{
  font-size: 22px;
  font-weight: 900;
}
.ItemQuantity{
  max-width: 50px;
}

/*CSS FORM NEW PEDIDO*/
.grupo-cliente{
  padding: 20px;
}
.grupo-cliente-text{
  margin: 10px;
  font-weight: 500;
}
.mensaje-cliente-oculto{
  display: none;
}
.mensaje-cliente-activo{
  display: block;
  font-size: 10px;
  margin: -8px 0 0 175px;
}
.grupo-cliente-input{
  border-radius: 15px;
}
.formulario{
  margin-top: 20px;
}
.formulario-nuevo-pedido{
  width: 60%;
  margin: 0 auto 20px auto;
  border: solid 3px rgb(78, 31, 31);
  border-radius: 50px;
  background-color: #fff;
}



.total_pedido{
  font-size: 24px;
  font-weight: 900;
  margin: 2px 2px 2px 2px;
}
.TotalFlex{

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 350px;
  margin: 10px auto;
  background-color: #fff;
  border: solid 3px red;
  border-radius: 50px;
}
.buttonForm{
  background-color: #000;
  color: #fff;
  margin : 10px;
  padding: 5px;
  border-radius: 20px;
}
.faltaCliente{
  font-size: 22px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  
}


.textfooter{
  color: #fff;
  margin: auto;
}

.PedidoNewMoso{
  color: #fff;
  margin: auto;
  
}




/*seccion moso*/
.grupo-cliente-input-moso{
  width: 50px;
  border-radius: 15px 0 10px 0;
}
.VolverMesas{
  text-decoration: none;
  text-decoration-line: none;
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  width: 150px;
  margin: auto;
  margin-bottom: 25px;
}